.testgear__article__main__container {
    display: flex;
}

.testgear__article__container {
    margin: 50px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
    border-radius: 30px;
}

.testgear__image__container {
    display: flex;
    justify-content: center;
}

.testgear__image {
    width: 400px;
    object-fit: cover;
}

.testgear__name {
    margin: 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testgear__brand,
.testgear__model {
    margin: 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.testgear__subtitle {
    margin: 0px 0px 0px 40px;
    color: #3D3D3D;
    text-align: left;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.testgear__description,
.testgear__characteristics {
    color: #3D3D3D;
    text-align: justify;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px;
}

.testgear__eett {
    height: 72px;
    color: #FFF;
    
    font-family: "futuraLtBt";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #18CAFF;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 30px 30px;
}