.us__social__logos__container {
    position: absolute;
    top: 30px;
    right: 106px;
}
.us__top__section--main--container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;


}
.us__top__section--image--container {
    width: 100%;
    height: 323px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(66, 66, 66, 0.10) 45.31%, rgba(255, 255, 255, 0.00) 100%), url("../../assets/torresElectricasI.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-top: 0.5px;
    display: flex;
    
}

.us__top__section--heding {
    margin: 0;
    position: absolute;
    top: 97px;
    left: 110px;
    z-index: 2;
    padding: 0;
    color: #fff;
    text-align: left;
    font-family: "futuraLtBt";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 818px;
    height: 116px;
}

.styling__word {
    color: #18CAFF;
}

/*from here on it's about the middle section*/

.us__middle__section--main--container {
    position: relative;
    height: 962px;
    display: flex;
    justify-content: center;
}

.us__middle__section--description--container {
    position: absolute;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 811px;
}

.us__subtitle {
    margin: 0;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.us__paragraph {
    margin: 20px 0 0 0;
    text-align: center;
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.us__middle__section--cards--container {
    position: absolute;
    top: 418px;
    display: flex;
    width: 720px;
    justify-content: space-around;
}

.personal__card__container {
    width: 292px;
    height: 347px;
    border-radius: 14.747px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(24, 202, 255, 0.25);
    display: flex;
    justify-content: center;
}

.image__card__container {
    margin-top: 55px;
    width: 158px;
    height: 158px;
    border-radius: 158px;
    border: 6px solid #18CAFF;
}

.image__card__container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 158px;
}

.text-content__card__container {
    position: absolute;
    top: 247px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-content__card__container h3 {
    color: #3D3D3D;
    text-align: center;
    font-family: "futuraLtBt";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.text-content__card__container h4 {
    color: #3D3D3D;
    text-align: center;
    font-family: Bosch Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.us__social__logos__container--personal-card {
    right: 106px;
    color: black;
    margin: 10px 0 0 0;

}

.card-linke-logo {
    width: 24px;
    height: 24px;
    color: #18CAFF;
    padding: 0;
}

/* from here on it's after the personal cards*/

.us__lower__section--main--container {
    width: 100%;
    height: 847px;
    background: rgba(45, 187, 229, 0.10);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us__lower__section--container {
    width: 811px;
    margin-top: 104px;
}

.us__lower__section__characteristics--main--container {
    margin-top: 104px;
    display: flex;
    width: 720px;
    justify-content: space-around;
}

.us__lower__section__characteristics--main--container article p {
    width: 300px;
}

.us__lower__icon--one {
    width: 92px;
    height: 92px;
}