


.logo__hvt--main--header {
    height: 125px;
}

.a-logo {
    margin-left: 80px;
}

header {
    display: flex;
    justify-content: center;
}

.header__nav--container {
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--sm);
    font-weight: bold;
    background: #FFF;


}

.header__nav__ul--center {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px 0px 246px;
    padding: 0;

}

.header__nav__ul--center li a {
    text-decoration: none;
    padding: 24px 0 24px;
    margin-right: 40px;
    padding-top: 38px;
    padding-bottom: 38px;

    color: #000;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__nav__ul--center li a:hover {
    color: #18CAFF;
}

.active__page {
    position: relative;
    display: inline-block;    
}

.active__page:visited {
    color: #18CAFF;  
}

.active__page::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.5px;
    width: 100%;
    height: 10px;
    background-color: #18CAFF;
    border-radius: 8px;


}

.cotiza__header__button__container {
    list-style: none;
    padding: 0;
}

#cotiza__header__button {
    text-decoration: none;
    display: flex;
    width: 221px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #18CAFF;

    color: #FFF;
    font-family: "futuraLtBt";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}